<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>admine lit</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">
    <!-- Importation de Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


  <!-- Bootstrap 5 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Remix Icons -->
<link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
<link th:href="@{/assets/css/style.css}" rel="stylesheet">
</head>

<body>

<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a th:href="@{/Administrateur/Accueil}" class="logo d-flex align-items-center">
            <img th:src="@{/assets/img/logo.jpg}" alt="">
            <span class="d-none d-lg-block">EspaceAdmin...</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle" href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->
            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        Vous avez 49 nouvelles notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Voir tous</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Dr Ndoye</h4>
                            <p>30 min. ago</p>
                        </div>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>12 Tantatives d'acces</h4>
                            <p>1 hr. ago</p>
                        </div>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Authentification réussi</h4>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Voir toutes les notifications</a>
                    </li>
                </ul><!-- End Notification Dropdown Items -->
            </li><!-- End Notification Nav -->
            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        Vous avez 3 nouveaux messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Voir tous</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="message-item">
                        <a href="#">
                            <img th:src="@{/assets/img/doc1.jpg}" alt="" class="rounded-circle">
                            <div>
                                <h4>Dr Cissé</h4>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="message-item">
                        <a href="#">
                            <img th:src="@{/assets/img/doc2.jpg}" alt="" class="rounded-circle">
                            <div>
                                <h4>Dr Birane Sambe</h4>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="message-item">
                        <a href="#">
                            <img th:src="@{/assets/img/doc3.jpg}" alt="" class="rounded-circle">
                            <div>
                                <h4>Dr Diop</h4>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Vous tous les Messages</a>
                    </li>
                </ul><!-- End Messages Dropdown Items -->
            </li><!-- End Messages Nav -->
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img th:src="@{/assets/img/man.png}" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
                </a><!-- End Profile Iamge Icon -->
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6><span th:text="${'Mr '+nom}">FAYE</span></h6>
                        <span>Administrateur de BD</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/Administrateur/profile}">
                            <i class="bi bi-person"></i>
                            <span>Mon Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/admin-profile}">
                            <i class="bi bi-gear"></i>
                            <span>Paramétre</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/pages-faq}">
                            <i class="bi bi-question-circle"></i>
                            <span>Aide ?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/connexion}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Déconnexion</span>
                        </a>
                    </li>
                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
        </ul>
    </nav><!-- End Icons Navigation -->
</header><!-- End Header -->


<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/Administrateur/Acceuil}">
                <i class="bi bi-grid"></i>
                <span>Tableau de Bord</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/Administrateur/medecins}">
                <i class="bi bi-heart-pulse fs-3"></i>
                <span>Gestion des Médecin</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/Administrateur/infirmiers}">
                <i class="bi-person-lines-fill fs-3"></i>
                <span>Gestion des Infirmiers</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/Administrateur/services}">
                <i class="bi bi-clipboard-heart fs-3"></i>
                <span>Gestion des Services</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/Administrateur/batiments/Accueil}">
                <i class="bi bi-building fs-3"></i>
                <span>Gestion des Bâtiments</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/Administrateur/salles}">
                <i class="bi bi-door-open fs-3"></i>
                <span>Gestion des Salles</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/Administrateur/lits}">
                <i class="fa-solid fa-bed-pulse" style="font-size: 20px;"></i>
                <span>Gestion des Lits</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/Administrateur/bureaux}">
                <i class="bi bi-door-closed fs-3"></i>
                <span>Gestion des Bureaux</span>
            </a>
        </li>
    </ul>
</aside><!-- End Sidebar************************************-->
<!-- Main Content -->
<main id="main" class="main">
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-title d-flex justify-content-between align-items-center mb-3">
                <h3><i class="fa-solid fa-bed-pulse"></i> Gestion des Lits</h3>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
                    <i class="fas fa-plus-circle"></i> Ajouter un Lit
                </button>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Numero</th>
                    <th>Salle</th>
                    <th>Etat</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lit : ${lits}">
                    <td th:text="${lit.id}">1</td>
                    <td th:text="${lit.numero}">numero</td>
                    <td th:if="${lit.salle != null && lit.salle.serviceF != null}"
                        th:text="${lit.salle.serviceF.nom + ' salle N° ' + lit.salle.numero}">
                        salle
                    </td>
                    <td th:unless="${lit.salle != null && lit.salle.serviceF != null}"
                        th:text="${'Non attribué'}">
                    </td>
                    <td th:text="${lit.etat}"></td>
                    <td>
                        <a th:data-bs-target="'#editServiceModal' + ${lit.id}" data-bs-toggle="modal" class="edit" style="cursor:pointer;">
                            <i class="material-icons" data-toggle="tooltip" title="Modifier">&#xE254;</i>
                        </a>
                        <a href="#" th:data-bs-target="'#deleteEmployeeModal' + ${lit.id}"
                           class="delete text-danger"
                           data-bs-toggle="modal"
                           style="cursor:pointer;">
                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                        </a>
                    </td>
                    <!-- Edit Modal -->
                    <div th:attr="id='editServiceModal' + ${lit.id}" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content p-4">
                                <div class="modal-header bg-warning text-dark">
                                    <h5 class="modal-title"><i class="fas fa-edit"></i> Modifier un Lit Hospitalier</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/Administrateur/lits/modifier}" method="post">

                                        <div class="container-fluid">
                                            <div class="row">
                                                <input type="hidden" id="id" name="id" th:value="${lit.id}">
                                                <div class="col-md-6 mb-3">
                                                    <label for="editNumero" class="form-label"><i class="fas fa-clinic-medical text-primary"></i> Numero</label>
                                                    <input type="number" class="form-control" id="editNumero" name="numero" th:value="${lit.numero}" required>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="editSalle" class="form-label"><i class="fas fa-clinic-medical text-primary"></i> Salle</label>
                                                    <select class="form-control" id="editSalle" name="salle">
                                                        <option th:each="salle : ${salles}" th:value="${salle.id}" th:text="${salle.serviceF.nom + ' salle N° ' + salle.numero}"></option>
                                                    </select>
                                                </div>


                                  <!--              <div class="col-md-6 mb-3">
                                                    <label for="disponibilite" class="form-label"><i class="fas fa-clinic-medical text-primary"></i> Disponibilite</label>
                                                    <select class="form-control" id="disponibilite" name="etat">
                                                        <option value="DISPONIBLE">disponible</option>
                                                        <option value="OCCUPE">Occupé</option>
                                                        <option value="EN_REPARATION">En reparation</option>
                                                    </select>
                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-success">
                                                <i class="fas fa-save"></i> Enregistrer les modifications
                                            </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                <i class="fas fa-times"></i> Annuler
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Delete Modal -->
                    <div th:id="'deleteEmployeeModal' + ${lit.id}" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form th:action="@{/Administrateur/lits/supprimer}" method="post">
                                    <div class="modal-header bg-danger text-light">
                                        <h5 class="modal-title" id="deleteEmployeeModalLabel"><i class="fas fa-trash-alt"></i> Supprimer un lit Hospitalier</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <!-- mise à jour -->
                                    <input type="hidden" name="id" th:value="${lit.id}">
                                    <div class="modal-body">
                                        <p>Êtes-vous sûr de vouloir supprimer ce service hospitalier ? Cette action est irréversible.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </tr>
                </tbody>
            </table>
        </div>
<!-- Modals -->
    </div>
</main>

<!-- Add Modal -->
<div id="addEmployeeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content p-4">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title"><i class="fas fa-hospital"></i> Ajouter un Lit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/Administrateur/lits/ajouter}" method="post">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="salle" class="form-label"><i class="fas fa-clinic-medical text-primary"></i> Salle</label>
                                <select class="form-control" id="salle" name="idSalle">
                                    <option value="">Sélectionnez une salle</option>
                                    <option th:each="salle : ${salles}" th:value="${salle.id}" th:text="${salle.serviceF.nom + ' salle N° ' + salle.numero}"></option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="numero" class="form-label"><i class="fas fa-clinic-medical text-primary"></i> Numero</label>
                                <input type="number" class="form-control" id="numero" name="numero" placeholder="numero" required>
                            </div>
                            <!--<div class="col-md-6 mb-3">
                                <label for="disponibilite" class="form-label"><i class="fas fa-clinic-medical text-primary"></i> Disponibilite</label>
                                <select class="form-control" id="disponibilite" name="etat">
                                    <option value="DISPONIBLE">disponible</option>
                                    <option value="OCCUPE">Occupé</option>
                                    <option value="EN_REPARATION">En reparation</option>
                                </select>
                            </div>-->
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save"></i> Enregistrer
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            <i class="fas fa-times"></i> Annuler
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Bootstrap 5 JS (with Popper) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Custom JS -->
<script>
    // JavaScript for modals (unchanged)
</script>
</body>
</html>